.cor-text{
	font-size: 10px;
	display: inline;

}

.cor-text h1{
	font-size: 20px;
	color: #0033bb;
	line-height: 10%;
}

.cor-text h3{
	font-size: 16px;
	line-height: 150%
}
.pt{
	margin-bottom: 5%;
}